.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-1 .u-image-1 {
  width: 40%;
  height: 75%;
  background-image: url("../images/DB_Photo2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 8px 0 0;
}

.u-section-1 .u-image-2 {
  width: 40%;
  height: 75%;
  background-image: url("../images/ML_Photo4.png");
  background-position: 50% 50%;
  
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 932px;
}

.u-section-2 .u-post-details-1 {
  min-height: 838px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 32px;
  height: auto;
  min-height: 472px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 738px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 932px;
}

.u-section-3 .u-post-details-1 {
  min-height: 838px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 32px;
  height: auto;
  min-height: 472px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 932px;
}

.u-section-4 .u-post-details-1 {
  min-height: 838px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 32px;
  height: auto;
  min-height: 472px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 709px;
  }
  }
  
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }
}